.wrapper {
    margin-top: 80px;
    position: relative;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
  }
  
  .card-1 {
    grid-area: 1 / 1;
    height: 200px;
    width: auto;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: rgba(250, 199, 32, 0.88);
    display: flex;
    justify-content:center;
    align-items: center;
    
    color: #000;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bold;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
  }
  
  .wrapper h1 {
    font-size: 50px;
    word-spacing: 5px;
    font-family: "Michroma", sans-serif;
    align-items: center;
    padding-right: 90px;
  }
  
  .card-1 .enclosed {
    background: #000;
    line-height: 1;
    color: rgba(249, 198, 26, 1);
    padding: 10px 5px ;
    display: inline-block;
    transform: translate(-1px, 1px) scale(0.75);
    transform-origin: right center;
  }
  
  .wrapper:before {
    --bw: 9px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid #ffffff;
    box-sizing: content-box;
  }
  
  
  .wrapper:hover > div,
  .wrapper:hover:before {
    transform: none;
  }
  
  
  .wrapper > div,
  .wrapper:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25,.46,.45,1);
  }
  